<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="world_name" default="$(find smart_arm_description)/worlds/box.world" />
  <group if="$(arg use_sim_time)"><param name="/use_sim_time" value="true" /></group>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(arg world_name)" />
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find smart_arm_description)/urdf/smart_arm_robot.xacro'" />
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model robot_description -z 0.025" />
  <rosparam file="$(find smart_arm_description)/controllers/smart_arm_controllers.yaml" command="load"/>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" ns="/smart_arm" respawn="false" output="screen"
        args="joint_state_controller shoulder_pan_controller shoulder_pitch_controller elbow_flex_controller wrist_roll_controller left_finger_controller right_finger_controller" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/smart_arm/joint_states" />
  </node>
  <node name="smart_arm_pickup" pkg="smart_arm_description" type="smart_arm_pickup.py" respawn="false" output="screen"/>
</launch>
